{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}فراموشی رمز عبور{% endblock %}
{% block account_content %}
    <h1>فراموشی رمز عبور</h1>
    {% if validlink %}
        <p>لطفا رمز عبور خود را دو بار وارد کنید</p>
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-success m-2" value="تغیر رمز عبور"/></p>
        </form>
    {% else %}
        <p>لینک درخواستی شما معتبر نمی باشد.
            احتمالا قبلا استفاده شده است.
        </p>
    {% endif %}
{% endblock %}
