{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block account_content %}
    <div class="container mt-5">
    <h1>رمز عبور خود را فراموش کرده اید؟</h1>
    <p>برای ایجاد رمز عبور جدید لطفا ایمیل خود را که با ان حساب کاربری ایجاد کرده اید وارد کنید</p>
    <form method="post">
        {{ form|crispy }}
        <p><input type="submit" class="btn btn-danger mt-3" value="ارسال ایمیل"></p>
        {% csrf_token %}
    </form>
    </div>
{% endblock %}